<div class="row h-auto">
  <div class="col-sm-1 h-auto" id="leftdash"></div>
  <div class="col-sm-10 mx-0 h-auto pb-5" id="div_main_dashboard">
      <app-info-card></app-info-card>
      <div class="row">
          <div class="col-sm-4">
              <app-certifications></app-certifications>
          </div>
          <div class="col-sm-8">
              <app-experience></app-experience>
              <app-education></app-education>
          </div>  
      </div>
  </div>
  <div class="col-sm-1 h-auto" id="rightdash"></div>
</div>
