<div class="container">
  <app-file-list></app-file-list>
</div>
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <input matInput (input)="applyFilter($event.target, 'status')" placeholder="Filter by status">
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Minimum No. of Lines</mat-label>
    <input matInput (input)="applyFilter($event.target, 'numOfLines')" type="number" placeholder="Minimum no. of lines">
  </mat-form-field>
</div>
<div class="container-50">
<table mat-table [dataSource]="filteredItemList" class="mat-elevation-z8">
    <ng-container matColumnDef="filePath">
      <th mat-header-cell *matHeaderCellDef> File Path </th>
      <td mat-cell *matCellDef="let element"> {{element.filePath}} </td>
    </ng-container>
    
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
  
    <ng-container matColumnDef="meta">
      <th mat-header-cell *matHeaderCellDef> Meta </th>
      <td mat-cell *matCellDef="let element"> {{element.meta}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
  </table>
  <mat-paginator 
    [length]="SampleItemsList.length"
    [pageSize]="pageSize"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>