<div class="container">
  <app-file-list></app-file-list>
</div>

<div class="container-50">
  <table class="table my-0 table-striped table-bordered">
    <thead>
      <tr>
        <th>File Path</th>
        <th>Status</th>
        <th>Meta</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        *ngFor="let element of filteredItemList; let i = index" 
        (click)="onRowClicked(element, i)" 
        [class.selected]="i === selectedRowIndex">
        <td>{{element.filePath}}</td>
        <td>{{element.status}}</td>
        <td>{{element.meta}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container-50">
  <mat-paginator 
    [length]="filteredItemList.length"
    [pageSize]="pageSize"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>