<div class="container mt-4 p-2 textblock text-center">
    <div class="textblock pl-3 pb-3 mt-3">
        <h1>Education</h1>
        
        <mat-divider class="my-3"></mat-divider>

        <div>
            <h2>Bachelor's Computer Science</h2>
            <h3>Penn State University</h3>
            <h4>08/2019 - 05/2023</h4>
        </div>

        <mat-divider class="my-3"></mat-divider>

        <div>

            <h2>High school diploma</h2>
            <h3>NIS Astana International Baccalaureate</h3>
            <h4>09/2016 - 05/2019</h4>
        </div>

    </div>
</div>
