<div class="row mx-0 my-0">
    <div class="col-md-6 text-center">
        <h1>Leetcode Username:</h1>
        <h2>{{username}}</h2>
    </div>
    <div class="col-md-6 text-center">
        <h1>Ranking:</h1>
        <div class="alert-count">
          <h2>{{ leetcodeData.ranking }}</h2>
        </div>
        <h1>Questions Solved/Total:</h1>
        <div class="alert-count">
          <h2>{{ leetcodeData.totalSolved+'/'+leetcodeData.totalQuestions }}</h2>
        </div>
      </div>
  </div>
  