<div class="textblock my-2 py-3 container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center fw-bold">
            <h1>Mabiyev Yerassyl</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 right">
            <h3 class="mb-0">Specialization:</h3>
        </div>
        <div class="col-sm-6">
            <h3 class="fw-bold mb-0">Frontend Developer</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 right">
            <h3 class="mb-0">Email:</h3>
        </div>
        <div class="col-sm-6">
            <h3 class="mb-0">{{'uracilmabiyev@gmail.com'}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 right">
            <h3 class="mb-0">Phone #:</h3>
        </div>
        <div class="col-sm-6">
            <h3 class="mb-0">+7 (705) 470 1621</h3>
        </div>
    </div>
</div>