
<body class="h-auto">
  <div class="row h-auto">
    <!--                   LEFT GRADIENT                       -->
    <div class="col-sm-1 h-auto mobilehidden" id="leftdash"></div>

    <!--                   MAIN                                -->
    <div class="col-sm-10 mx-0 h-auto pb-5" id="div_main_dashboard">
      <div class="container px-0">
        <img
          style="
            width: 100% !important;
            height: 100% !important;
            vertical-align: middle !important;
          "
          src="../assets/img/PLACEHOLDER169.png"
          alt=""
        />
      </div>

      <div class="container h-auto">
        <!--First row of information. Contains 3x4 picture, name, and changing description-->
        <div class="row mt-5">
          <div class="col-sm-3 h-100 w-100 text-center pt-3 img-responsive">
            <img
              style="margin-left: auto !important"
              src="../assets/img/placeholder43.jpg"
            />
          </div>
          <div class="col-sm-9 textblock rounded pr-0">
            <div class="row">
              <div class="col-sm-3 mt-2">
                <h5 class="mb-0">name:</h5>
                <h5 class="mb-0">spec:</h5>
                <h5 class="mb-0">email:</h5>
                <h5 class="mb-0">phone #:</h5>
                <h5>programming language experience:</h5>
              </div>
              <div class="col-sm-9 mt-2 pr-0">
                <span class="h5">Mabiyev Yerassyl</span>
                <br />
                <span class="col-sm-4 h5 px-0" id="changing_desc">Computer</span
                ><span class="col-sm-4 h5"> Scientist</span>
                <h5 class="mb-0">yfm5087</h5>
                <h5 class="mb-0">+1 (857) 326 7785</h5>
                <br />
                <h5>python angular c++ c java</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of the first row of information 3x4-->


      <!--Certificates and education section-->
      <div class="container mt-4 px-0">
        
        <h1 class="text-center textblock rounded">Certifications/Education</h1>

        <div class="textblock rounded pl-3 pb-3 mt-3">
          
          <h3 class="text-center">QWASAR Data Science</h3>
          
          <div class="divider"><hr /></div>
          
          <h4>06/2021 - 10/2021</h4>
          
          <span class="h4">keywords: </span>
            <span class="h4">
              python, C, pandas, numpy, matplotlib/seaborn, scraping,
              visualisation, tokenization
            </span>
          <br /><a class="h4"> projects: click here</a>
          <br />
        </div>

        <div class="textblock rounded pl-3 mt-3 pb-3">
          <h3 class="text-center">
            Penn State University Bachelor Computer Science
          </h3>
          <div class="divider"><hr /></div>
          <h4>2019 - 2023</h4>
          <br /><span class="h4">keywords: </span
          ><span class="h4"
            >python, multiprocessing, parallel processing, makefiles, C</span
          >
          <br /><br /><a class="h4">projects: click here</a>
        </div>
      </div>
      <!--End of the certificates/education section-->
      
      
      
      <!--Start of the job experience section-->
      <div class="container mt-4 px-0">
        <h1 class="text-center textblock rounded">Job Experience</h1>

        <div class="textblock rounded pl-3 pb-3 mt-3">
          <h3 class="text-center">
            ItByDesign Kazakhstan front-end development intern
          </h3>
          <div class="divider"><hr /></div>
          <h4>01/2021-06/2021</h4>
          <br /><span class="h4">keywords: </span
          ><span class="h4">angular, ts, bootstrap, html, coffeecarrying</span>
          <br />
          <br /><a class="h4"> projects: zandylyq.kz</a>
          <br />
        </div>
      </div>
      <!--End of the job experience section-->





      <!--END OF MAIN-->
    </div>
    <div class="col-sm-1 h-auto mobilehidden" id="rightdash"></div>
  </div>
</body>
